/* CV PAGE */
*{
    font-family: 'lora', serif;
}
#CV{
    margin: 5vh auto;
    padding: 60px 35px;
    width: 60vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*RESPONSIVENESS*/
@media (max-width: 800px){
    #CV{
        width: 80vw;
        font-size: 1rem;
    }
    #nav {
        font-size: 0.9rem;
    }
}
/*KaiOS*/
@media (max-width:240px){
    #CV{
        width: 200px;
        font-size: 0.6rem;
        margin: 10px auto;
        padding: 1vh 3.5vw;
    }
    #nav{
        font-size: 0.5rem;
        font-weight: 700;
    }
    .hiddeable{
        visibility: hidden;
        padding-bottom: 2px;
    }
}
a{
    text-decoration: none;
    color:#404040;
}
h1{
    color:#404040;
}
h3{
    color:#404040;
    font-size: larger;
    text-align: center;
    background-color: #d9d9d9;
}
h4{
     font-weight:500;
     margin-bottom: -10px;
}
#about p{
    text-align: justify;
    justify-content: stretch;
}
p{
    text-align: left;
}
