@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('//fonts.cdnfonts.com/css/akira-expanded');

/* @font-face {
    font-family: 'Akira Expanded Super Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Akira Expanded Super Bold'), url('files/Akira Expanded Demo.woff') format('woff');
    } */

:root {
    --primary: #fb9da7;
    --secondary: #13141a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 95vw;
    height: 95vh;
    border-radius: 50px;
    background: var(--secondary);
    font-family: 'Poppins', sans-serif;
    /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
    display: flex;  
}
/* Navigation */
/* Navigation */
aside{
    width: 15%;
    height: 100%;
    
}
aside nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside nav h1{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}
aside .here{
    font-weight: 900;
}
aside a{
    text-decoration: none;
    margin-bottom: 1rem;
}
/* NAVIGATION end */
section{
    width: 85%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 50px;
    display: flex;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
}
div.main{
    width: 70%;
    height: 100%;
}
div.main h1{
    font-weight: 500;
    font-size: 3rem;
    margin: 3rem 50px;
}
div.main h1 b{
    font-weight: 700;
}
/* ABOUT ME */
div.about{
    width: 30%;
    height: 100%;
    background: #E9E9E9;
    border-radius: 0 50px 50px 0;
}
div.about h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 4.5rem 0 1rem 25px;
}
div.about-card{
    display: flex;
}
div.about-card .portait{
    width: 3rem;
    height: 3rem;
    margin-left: 15px;
    border-radius: 50px;
    background: var(--primary);

}
div.about-card .name{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:1080px) {
    main{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    section{
        border-radius: 25px;
    }
    div.main h1{
        font-size: 2rem;
    }
    div.about{
        width: 40%;
        border-radius: 25px 0 0 25px;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    }
    div.about h2{
        font-size: 1.5rem;
        margin-left: 35px;
    }
    div.about-card .portait{
        margin-left: 25px;
    }
    div.about-card .name{
        margin-left: 25px;
    }
}
/* main{
    display: flex;
    border-radius: 50px;
    background: var(--primary);
    max-width: 1920px;
    max-height: 1080px;
}
section{
    background: #F2F2F2;
    width: 50vw;
    height: 100vh;
    z-index: 0;
    border-radius: 50px 0 0 50px;
}
section#nav{
    width: 15vw;
    border-radius: 0;
    z-index: -1;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}
nav h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    z-index: 999;
}
nav h1.here{
    font-weight: 900;
}
section#main{
    border-radius: 50px 0 0 50px;
}
.welcome{
    padding: 2.5rem;
}
.welcome h1{
    font-size: 2.2rem;
    font-weight: 600;
}
.welcome b{
    color: var(--primary);
}
section#about{
    background: #E9E9E9;
    width: 35vw;
    z-index: 1;
    border-radius: 50px 0 0 50px;
}
.aboutme{
    padding: 2.5rem;
}
.aboutme h2{
    font-size:2rem;
    font-weight: 600;
} */