@import url('//fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');
@import url('//fonts.cdnfonts.com/css/akira-expanded');

@font-face {
    font-family: 'Akira Expanded Super Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Akira Expanded Super Bold'), url('files/Akira Expanded Demo.woff') format('woff');
    }

:root{
    --primary: #fb9da7;
    --secondary: #13141a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#logo:hover, .menu:hover, .btn:hover{
    cursor: none !important;
}

a:link, 
a:visited, 
a:hover, 
a:active{
    color: #fff;
    text-decoration: none;
}

body {
    background-color:  var(--secondary);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    cursor: none !important;
}


.scrollmagic-pin-spacer{
    position: static !important;
}

/* JERARQUIA
 Nav-header
 Navigation
 Cursor
*/

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.nav-header{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    color: #fff;
    font-size: 1rem;
    z-index: 2;
    position: relative;
}
#logo{
    font-family: 'Akira Expanded', sans-serif;
    text-shadow: 0 0 5px var(--secondary);
    color:#fff;
    top:-100%;
}
.line1, .line2{
    width: 3rem;
    height: 0.1rem;
    margin: 0.4rem;
    background: #fff;
    pointer-events: none;
}
/* SECTION */
/* SECTION */
/* SECTION */
.slide{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* HERO */
/* HERO */
/* HERO */
.hero-img{
    position: relative;
    flex:1;
    flex-basis: 25rem;
}
.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 7rem;
    position: relative;
}
.hero-span {
    color: var(--primary)
}
.hero-txt h2{
    font-family: 'Akira Expanded', sans-serif;
    font-size: 2.5rem;
}
.hero-txt p{
    padding: 1.3rem 0rem;
    font-size: 1.3rem;
    opacity: 0.7;
}
/* BUTTON */
.btn{
    /* color:var(--primary); */
    font-weight: bolder;
    color:#fff;
    border: solid var(--primary) 2px;
    padding: 1rem 5rem;
    font-size: 1rem;
    align-self: flex-start;
}
/* REVEALING */
/* REVEALING */
.reveal-img, 
.reveal-text {
    position: absolute;
    width: 100%;
    height: 150%;
    background:var(--secondary);
    left: 0;
    top: -15%;
}
/* MENU */
.menu{  
    cursor: pointer;
}
/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    background: var(--secondary) url("/img/navigation-bg.png") no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Akira Expanded", sans-serif;
    color: #fff;
    text-shadow: 0 0 5px var(--secondary);
    z-index: 1;
    
    /* visibility: hidden; */

    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
}
body.nav{
    overflow: hidden;
    cursor: default !important;
}
#logo.nav:hover, .menu.nav:hover{
    cursor: pointer !important;
}
.nav-links{
    
    font-size: 2rem;
    flex-basis: 0;
}
.nav-links h3{
    padding: 2.5rem 5rem;
}
.contact{
    flex-basis: 50rem;
}
.contact h2{
    font-size: 3.5rem;
    padding: 0.5rem 0;
}
.contact p {
    font-family: "Monserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
/* SWIPE */
/* SWIPE */
/* SWIPE */
.title{
    position: relative;
    overflow: hidden;
}
.title-swipe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    transform: translateY(-100%);
    background: var(--primary);
    /* visibility: hidden; */
}
/* CURSOR */
/* CURSOR */
/* CURSOR */
.cursor{
    width: 3rem;
    height: 3rem;
    border: solid #fff 0.2rem;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: cursorDance 1s infinite alternate;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}
.cursor.nav-active{
    z-index: -1;
    animation-play-state: paused;
    background: var(--primary);
    transform: scale(2);
}
.cursor.btn-active{
    animation-play-state: paused;
    background:#fff;
    transform: scale(3);
}
/* .cursor.link-active{
    animation-play-state: paused;
    transform: scale(2);    
} */
.cursor-msg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes cursorDance {
    0%{ 
        border-radius: 100%;
    }
    100%{ 
        border-radius: 0%; 
    }
}

/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */
@media (max-width: 800px){

}

/* KAIOS SCREENS */
/* KAIOS SCREENS */
/* KAIOS SCREENS */
@media (max-width:240px){

}