@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('//fonts.cdnfonts.com/css/akira-expanded');

@font-face {
    font-family: 'Akira Expanded Super Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Akira Expanded Super Bold'), url('/assets/files/Akira Expanded Demo.woff') format('woff');
    }

:root {
    --primary: #FB9DA7;
    --secondary: #13141A;
    --secondary-alt: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    
}
body.light{
    background: #fff;
}
body.dark{
    background: var(--secondary);
}

a {
    text-decoration: none;
    color:inherit;
}

/* BOTÓN PARA CAMBIAR ENTRE MODO OSCURO Y CLARO */
/* BOTÓN PARA CAMBIAR ENTRE MODO OSCURO Y CLARO */
#mode{
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    font-size: 1.25rem;
    border-radius: 50px;
    display: inline-block;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}
#mode:hover{
    transition: 0.5s;
    opacity: 1;
}
/* BOTÓN PARA CAMBIAR ENTRE MODO OSCURO Y CLARO */
/* BOTÓN PARA CAMBIAR ENTRE MODO OSCURO Y CLARO */

.light #mode{
    background-color: var(--secondary);
}
.dark #mode{
    background: #fff;
}
.hidden{
    display: none !important;
}

.light main{
    background: url("/assets/img/contact-bg_Light.png") no-repeat center bottom;
    background-size: 100% auto;
}
.dark main{
    background: url("/assets/img/contact-bg_Dark.png") no-repeat center bottom;
    background-size: 100% auto;
}
header{
    min-height: 10vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 10;
}
.light header{
    background: #fff;
}
.dark header{
    background: var(--secondary);
}
#logo{
    font-size: 1.5rem;
    font-family: 'Akira Expanded', sans-serif;
    cursor: pointer;
    transition: 0.15s;
}
.light #logo{
    color:var(--secondary);
}
.dark #logo{
    color: #fff;
}
#logo:hover{
    transition: 0.15s;
    color:var(--primary);
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav-btn{
    cursor: pointer;
    border: none;
    z-index: 20;
}
.light .nav-btn{
    background-color: #fff;
}
.dark .nav-btn{
    background: var(--secondary);
}
.line1, .line2{
    width: 3rem;
    height: 0.1rem;
    margin: 0.4rem;
    pointer-events: none;
}
.light .line1, .light .line2{
    background: var(--secondary);
}
.dark .line1, .dark .line2{
    background: #fff;
}
/* NO ME OLVIDES */
/* NO ME OLVIDES */
/* NO ME OLVIDES */
/* nav{
    display: none;
    position: absolute;
    right: -1rem;
    top: 1.2rem;
    width: 25%;
    height: fit-content;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
nav .active{
    display: flex;
}
nav span{
    font-family: 'Akira Expanded', sans-serif;
    text-align: center;
    margin: 1rem 0;
}
nav ul{
    list-style: none;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.25rem;
} */
/* NO ME OLVIDES */
/* NO ME OLVIDES */
/* NO ME OLVIDES */

/* SECTION */
section{
    min-height: 90vh;
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SECTION -> About Me */
.hero{
    width: 50%;
}
.dark .hero{
    color: #fff;
}
.hero h2{
    font-size: 3rem;
    font-family: 'Akira Expanded', sans-serif;
    margin-bottom: 2rem;
}
.hero h3{
    font-size: 1.5rem;
    color:var(--primary);
}
.hero p{
    opacity: 0.7;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.about img{
    border-radius: 25px;
    margin-right: 5vw;
}
.btn-group{
    width: max-content;
}
.btn-group p{
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.btn{
    display: inline-block;
    background-color: #fff;
    padding: 1rem 5rem;
    border-radius: 10px;
    border:solid var(--secondary) 1px;
    color:var(--secondary);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.dark .btn{
    border:solid #fff 1px;
    background: var(--secondary);
    color: #fff;
}
.btn-group .primary{
    margin-right: 1.5rem;
}
.btn.primary{
    border: none;
    background-color: var(--secondary);
    color:#fff;
    transition: 0.15s;
}
.dark .btn.primary{
    background: #fff;
    color:var(--secondary);
}
.btn.primary:hover{
    transition: 0.15s;
    background: var(--primary);
    
}
.light .btn.primary:hover{
    color:var(--secondary);
}
.dark .btn.primary:hover{
    color:#fff;
}
.btn.secondary{
    padding: 0.75rem;
}
.light .btn.secondary:hover{
    background-color: var(--secondary);
    color: #fff;
    transition: 0.15s;
}
.dark .btn.secondary:hover{
    background-color: #fff;
    color: var(--secondary);
    transition: 0.15s;
}

/* SECTION -> Projects */
section.projects{
    flex-direction: column;
    justify-content: center;
}
.light .projects p{
    color:var(--secondary);
}
.dark .projects p{
    color: #fff;
}
.projects .row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 650px;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 5vh;
    transition: 0.15s;
}
.light .card{
    color:var(--secondary);
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.dark .card{
    border: solid 1px #fff;
    color:#fff;
}
.light .btn.btn.secondary{
    border: solid rgba(0, 0, 0, 0.15) 1px;
}
.card img{
    width: 7rem;
    height: auto;
    border-radius: 30px;
}
.card-info{
    margin: 0 1rem; 
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.card-info p{
    opacity: 0.5;
}
.card .btn-group{
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .btn-group .btn{
    width: 8rem;
    margin-right: 0;
}

/* SECTION -> Contact */
section.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card{
    width: 35vw;
    text-align: center;
    margin-bottom: 25rem;
}
.light .contact-card{
    color:var(--secondary);
}
.dark .contact-card{
    color:#fff;
}
.contact-card h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
}
.contact-card p{
    opacity: 0.7;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
/* SMARTPHONE */
@media screen and (max-width: 700px){
    .light main, .dark main{
        background: url();
    }
    .line1, .line2{
        width: 2rem;
        height: 0.1rem;
        margin: 0.4rem;
    }
    /* SECTION */
    section{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero{
        width: 90%;
    }
    .hero h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .hero h2 span{
        display: none;
    }
    .hero p{
        font-size: 1rem;
        line-height: 1.8rem;
        margin: 1rem 0;
    }
    .btn-group{
        display: flex;
        width: auto;
        flex-direction: column;
    }
    .hero .btn-group .btn{
        width: 100%;
    }
    .btn-group .btn.primary{
        margin-bottom: 0.75rem;
    }
    .btn-group p{
        font-size: 0.6rem;
    }
    
    .about img{
        display: none;
    }
    /* PROJETS */
    .projects .row{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        display: inline;
    }
    .card img{
        display: none;
    }
    .card-info{
        height: auto;
        margin-bottom: 1rem;
    }
    .card-info h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .card .btn-group{
        flex-direction: row;
        height: auto;
        margin: 1rem 1rem;
    }
    .card .btn-group .btn{
        width: auto;
    }
    .card .btn-group .btn.primary{
        margin:0;
    }


    /* CONTACT */
    .contact-card{
        width: 60%;
        margin: 0;
    }
    .contact-card h2{
        font-size: 1.5rem;
    }
    .contact-card .btn{
        font-size: 0.8rem;
        padding: 1rem 2rem;
    }

}
/* TABLET */
@media screen and (min-width:701px) and (max-width:1400px) {
    /* ABOUT */
    .hero h2{
        font-size: 2.5rem;
    }
    .about img{
        width: 45%;
    }
    /* PROJECTS */
    .projects .row{
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
    /* CONTACT */
    .contact-card h2{
        font-size: 2.5rem;
    }
    .card:first-child{
        display: none;
    }
}